body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header.hero,
.section.hero,
.footer {
    background-color: #1F2937;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-top: 32px;
    margin-bottom: 0px;
}

.hero p,
.header a {
    font-size: 18px;
    color: #e5e7eb
}

.hero button,
.section.action {
    background-color: #3882f6;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color:#1F2937
}

.author {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    text-align: end;
    margin-top: 4px;
}

/* Flexbox decorations */

.section,
.header {
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px
}

.links {
    display: flex;
    gap: 20px;
}

.section.hero {
    display: flex;
    gap: 30px;
}

.child {
    display: flex;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 32px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.boxes div {
    text-align: center;
    flex: 0 1 150px;
    display: flex;
    flex-direction: column;
}

.boxes div img {
    border: 5px solid #3882f6;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
}

.section.action {
    margin: 50px 400px;
    padding: 12px 50px;
    display: flex;
    border-radius: 25px;
    gap: 20px;
}

.section.action p {
    color: white;
}

.action .big {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0px;
}

.action .button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.button button {
    font-size: 16px;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: #3882f6;
    color: white;
    text-wrap: nowrap;
    padding: 10px 30px;
}

.action .left {
    flex: 5;
}

.footer p {
    text-align: center;
    padding: 10px;
}

.bottom {
    margin-top: 5px;
    margin-bottom: 24px;
}

.child img {
    width: 100%;
    height: 100%;
}

.section.hero button {
    margin-bottom: 32px;
}

.left button {
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.quote p {
    padding: 0px 100px;
}

.cite {
    margin-bottom: 10px;
}

.section.hero .left {
    display: flex;
    flex-direction: column;
}

.section.hero .left div {
    flex: 1;
}

.section.hero .left .button {
    flex: 0;
}