body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header.hero,
.section.hero,
.footer {
    background-color: #1F2937;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.hero p,
.header a {
    font-size: 18px;
    color: #e5e7eb
}

.hero button,
.section.action {
    background-color: #3882f6;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color:#1F2937
}

.author {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
}

body > div {
    padding: 24px 150px;
}

/* Flexbox decorations (other than in the body) */

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 24px;
}

.hero {
    display: flex;
}

h2 {
    display: flex;
    justify-content: center;
}

.boxes {
    display: flex;
    gap: 18px;
    text-align: center;
}