img {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

header, .hero, footer {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero div, a {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

button, .section4 {
    background-color: #3882f6;
}

.information {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;
}

.citation {
    font-weight: 900;
}
